extends layout

block content
    .mdc-layout-grid
        .mdc-layout-grid__inner
            .mdc-layout-grid__cell
                h1
                    i.material-icons.md-36.blue commute
                    | &nbsp#{title}
                a.mdc-button.mdc-button--raised(href="/inventory/vehicles/create")
                    div.mdc-button__ripple
                    i.material-icons.mdc-button__icon(aria-hidden="true") create
                    div.mdc-button__label NEW VEHICLE
            .mdc-layout-grid__cell
            .mdc-layout-grid__cell
        .mdc-layout-grid__inner
            .mdc-layout-grid__cell
                div.mdc-list
                    for vehicle in vehicles
                        a(href=vehicle.url).mdc-list-item
                            span.mdc-list-item-text=`${vehicle.brand} ${vehicle.model}`
            .mdc-layout-grid__cell
            .mdc-layout-grid__cell

